<?xml version="1.0" encoding="UTF-8"?>
<Layout name="ConfigPage" version="1.0.0">
  <Page background="assets/bg_main.png" width="574" height="358">
    <VBox spacing="0">
      <Spacer height="96" />
      <HBox height="80">
        <Spacer width="213" />
        <Image icon="assets/logo.png" width="148" height="80" />
        <Spacer width="213" />
      </HBox>
      <Spacer height="55" />
      <HBox height="40">
        <Spacer width="167" />
        <Button id="install" text="安装" text_i18n="config.install" width="240" height="40" style="primary" font_size="14" color="#FFFFFFFF"
                enabled="false"
                normalimage="assets/btn_primary.png"
                hotimage="assets/btn_hover.png"
                pushedimage="assets/btn_hover.png"
                disabledimage="assets/btn_disabled.png" />
        <Spacer width="167" />
      </HBox>
      <HBox height="87" padding="35,40,35,40">
        <Checkbox id="agree_license" text="同意" text_i18n="config.agree" width="110" height="20" font_size="12" color="#FFE4E8EC"
                  normalimage="assets/checkbox-0.png"
                  selectedimage="assets/checkbox-2.png"
                  textpadding="20,0,0,0" />
        <Button id="agreement" text="用户协议" text_i18n="config.agreement" width="72" height="20" style="text" font_size="12" color="#FFFFFFFF" />
        <Label text="和" text_i18n="config.and" width="10" height="20" font_size="12" color="#FFE4E8EC" />
        <Button id="policy" text="隐私政策" text_i18n="config.policy" width="72" height="20" style="text" font_size="12" color="#FFFFFFFF" />
        <Spacer width="20" />
        <Button id="show_more" text="自定义安装" text_i18n="config.show_more" width="80" height="20" style="text" font_size="12" color="#FFFFFFFF" />
      </HBox>
    </VBox>
  </Page>
</Layout>

